body {
  margin: 0;
  padding: 0;
  /* This will create enough content to scroll */
  min-height: 200vh;
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.landing .content {
  height: auto;
}

nav {
  background: #333;
  color: #fff;
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it sits over other content */
  align-self: flex-end;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: inherit;
  text-decoration: none;
}
