:root {
  --section-height: 95vh;
  --navigation-height: calc(100vh - var(--section-height));
}

*,
*::before,
*::after,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section:not(.navigation) {
  height: var(--section-height);
}

#display::before,
#about::before {
  content: '';
  height: var(--navigation-height);
  display: block;
}

#landing {
  background-image: url('public/colorfulNebula.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 10rem;
  justify-content: space-around;
}

#landing img {
  width: 500px;
  order: 2;
}

#landing .introduction {
  background: rgb(255, 255, 255, 0.4);
  padding: 1rem;
  border-radius: 5px;
  order: 1;
  width: 40%;
}

.navigation {
  background: #333;
  color: #fff;
  height: var(--navigation-height);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

.navigation ul {
  display: flex;
  list-style: none;
}

.navigation li:not(:last-child) {
  padding-right: 3rem;
}

.navigation a {
  color: inherit;
  text-decoration: none;
}
