:root {
  --section-height: 95svh;
  --navigation-height: calc(100svh - var(--section-height));
  scroll-padding-top: 5svh;
}

* {
  text-decoration: none;
}

header {
  height: var(--section-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fade-out linear forwards;
    animation-timeline: view(-10svh 75svh);
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes fade-out {
    from {
      opacity: 1;
      transform: translateY(0svh) scale(1);
    }
    to {
      opacity: 0;
      transform: translateY(30svh) scale(0.8);
    }
  }
}

a:visited {
  color: inherit;
}

nav {
  background: #333;
  color: #fff;
  height: var(--navigation-height);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li:not(:last-child) {
  padding-right: 3rem;
}

nav a {
  color: inherit;
}

nav h1 {
  font-family: 'Alex Brush', cursive;
  font-size: 1.75rem;
}

#spotlight {
  height: var(--section-height);
  margin: 0 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

#spotlight > * {
  height: 60svh;
  width: 50%;
  animation: fade-in linear forwards;
  animation-timeline: view(80svh 0px);
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-30svh) scale(0.8);
    }
    to {
      opacity: 1;
      transform: translateY(0svh) scale(1);
    }
  }
}

.spotlight-summary {
  font-size: 2rem;
}

.spotlight-project div {
  transition: all 0.3s ease;
  height: 100%;
  width: 100%;
}

.project:hover {
  box-shadow: 15px 15px 10px rgba(255, 255, 255, 0.15);
  transform: translateY(-5px) scale(1.01);
}

.project img {
  width: 100%;
  border-radius: 1rem;
  margin: 0px 0px 1rem 0px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff0f;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.15);
  padding: 2rem;
}
